#entry-point {
  background: #fff;
  color: #333;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

button {
  background: none;
  border: 0;
  outline: none;
  text-align: center;

  &:active {
    outline: none;
  }
}

input {
  border: 0;
  outline: none;

  &:hover,
  &:active {
    outline: none;
  }
}
